body{
    background-color: black;
    color: whitesmoke;
}
li{
    list-style: none;
}



/* **************************** */
/* *******APP ************/
/* ***************************** */


/* **************************** */
/* *******create-note ************/
/* ***************************** */



/* **************************** */
/* *******ViewAddNote************/
/* ***************************** */

/* viewNote********************** */

.listNote{
    
    word-break: break-word;  
    margin: 0;
    padding: 0;
    cursor: pointer;
   transition: all ease-in-out 0.4s;
   
}
.animated{
    background-color: black;
    width: 100%;
    height: 50%;
}
.btnNone{
    display: none;
}

.liNote:hover{
    background: rgba(0, 0, 0, 0.116);
}